<div layout="row" layout-xl="column">
  <div flex>
    <div class="container">
      <div class="row" style="padding-top: 2%;">
        <div class="col">
          <h5 style="padding-left: 20%;">LOGO</h5>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <span style="margin-left: 20px;"><a href="" class="link">Home</a></span>
              <span style="margin-left: 20px;"><a href="" class="link">Destination</a></span>
              <span style="margin-left: 20px;"><a href="" class="link">About</a></span>
              <span style="margin-left: 20px;"><a href="" class="link">partner</a></span>
              <span style="margin-left: 20px;"><button mat-stroked-button class="btn-1">Basic</button></span>
              <span style="margin-left: 20px;"><button mat-flat-button color="primary"
                  class="btn-2">Primary</button></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%;">
        <div class="col">
          <div class="row">
            <h1 style="font-size:xx-large;padding-left: 15%;">Eplore and </h1>
          </div>
          <div class="row">
            <h1 style="font-size:xx-large;padding-left: 15%;">Travel</h1>
          </div>
          <div class="row">
            <h4 style="padding-left: 15%;">Holiday Finder</h4>
          </div>
          <div class="row" style="padding-left: 15%;">
            <div class="col">
              <mat-form-field style="width: 90%;" appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field style="width: 90%;" appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row" style="padding-left: 15%;">
            <div class="col">
              <mat-form-field style="width: 90%;" appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field style="width: 90%;" appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" style="padding-left: 4%;">
              <button mat-flat-button color="primary" class="btn-3">Primary</button>
            </div>
          </div>
        </div>



        <div class="col">
          <div><img style="padding-left: 15%;" width="95%" height="80%" src="../assets/1 Image Svg.svg" alt=""></div>
        </div>
      </div>

      <div class="row" style="padding-top: 10%;">
        <div class="col">
          <div><img width="80%" height="80%" src="../assets/2 Image Svg.svg" alt=""></div>
        </div>
        <div class="col">
          <div class="row" style="padding-top: 15%;">
            <h1><strong style="font-size:xx-large;">A new way to explore the</strong></h1>
          </div>
          <div class="row">
            <h1><strong style="font-size:xx-large;">World</strong></h1>
          </div>
          <div class="row">
            <p>For decades travellers have reached for lanely Planet <br> books When Looking to plan and execute their
              perfetct
              <br> trip,but now,they can also let Lonely Planet Experiences <br> lea the way
            </p>
          </div>
          <div class="row">
            <button mat-flat-button color="primary" class="btn-2" style="width: 30%;">Primary</button>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 10%;">
        <div class="col">
          <h1><strong style="font-size:xx-large;">Featured destinations</strong></h1>
        </div>
        <div class="col">
          <p style="float: right; color: coral;"><strong>View All ></strong> </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card" style="width: 300px; height: 400px;">
            <img src="../assets/aaa.png" style="width: 300px; height: 400px;">
            <mat-card class="first-txt">
              <p><strong style="color: black;">Raja Ampat</strong><br><small>Founder Circle</small></p>
             
             
             
              </mat-card>
            
            

          </div>
        </div>



        <div class="col">
          <div class="card" style="width: 300px; height: 400px;">
            <img src="../assets/bbbb.png" style="width: 300px; height: 400px;">
            <mat-card class="first-txt">
              <p><strong style="color: black;">Raja Ampat</strong><br><small>Founder Circle</small></p>
            
            
            
            </mat-card>

          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 300px; height: 400px;">
            <img src="../assets/qqq.png" style="width: 300px; height: 400px;">
            <mat-card class="first-txt">
              <p><strong style="color: black;">Raja Ampat</strong><br><small>Founder Circle</small></p>
              
              
              
              </mat-card>
            
            
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 300px; height: 400px;">
            <img src="../assets/sss.png" style="width: 300px; height: 400px;">
            <mat-card class="first-txt">
              <p><strong style="color: black;">Raja Ampat</strong><br><small>Founder Circle</small></p>
          
              </mat-card>
           
            


          </div>
        </div>
        <div class="row" style="padding-top: 10%;">
          <div class="col">
            <div class="row" style="padding-top: 15%;">
              <h1><strong style="font-size:xx-large;">A new way to explore the</strong></h1>
            </div>
            <div class="row">
              <h1><strong style="font-size:xx-large;">World</strong></h1>
            </div>
            <div class="row">
              <p>For decades travellers have reached for lanely Planet <br> books When Looking to plan and execute their
                perfect
                <br> trip,but now,they can also let Lonely Planet Experiences <br> lea the way
              </p>
            </div>
            <div class="row">
              <button mat-flat-button color="primary" class="btn-2" style="width: 30%;">Primary</button>
            </div>
          </div>
          <div class="col">
            <div><img width="80%" height="80%" src="../assets/3 Image Svg.svg" alt=""></div>
          </div>
        </div>

        <div class="row" style="padding-top: 10%;">
          <div class="col">
            <h1>Testimonials</h1>
            <div class="row" style="padding-top: 10%;">
              <div><i style=" color: #FFD700;" class="fa fa-star"></i>
                <span style="margin-left: 10px; color: #FFD700;"><i class="fa fa-star"></i></span>
                <span style="margin-left: 10px;color: #FFD700;"><i class="fa fa-star"></i></span>
                <span style="margin-left: 10px;color: #FFD700;"><i class="fa fa-star"></i></span>
                <span style="margin-left: 10px;color: #FFD700;"><i class="fa fa-star"></i></span>
              </div>
              <p>For decades travellers have reached for lanely Planet <br> books When Looking to plan and execute their
                perfect
                <br> trip,but now,they can also let Lonely Planet Experiences <br> lea the way
              </p>
              <h3><strong>Edward Newgate</strong>
                <small>
                  <p>Founder Circle</p>
                </small>
              </h3>
            </div>
          </div>
          <div class="col" style="padding-top: 5%;">
            <div class="card" style="width: 300px; height: 400px;">
              <img src="../assets/nnn.png" style="width: 300px; height: 400px;">
              <mat-card class="first-txt1">
                <h3></h3>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10%;">
          <div class="col">
            <h1><strong style="font-size:xx-large;">Featured destinations</strong></h1>
          </div>
          <div class="col">
            <p style="float: right; color: coral;"><strong>View All ></strong> </p>
          </div>
          <div class="row">
            <div class="col">
              <mat-card>

                <img mat-card-image src="../assets/3.png" height="250px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h3><strong>The Many benifts of taking a heling holiday</strong></h3>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    originally
                    bred for hunting.
                  </p>
                  <p style=" color: coral;"><strong>read more</strong> </p>
                </mat-card-content>

              </mat-card>

            </div>
            <div class="col">
              <mat-card>
                <img mat-card-image src="../assets/6.png" height="250px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h3><strong>The Many benifts of taking a heling holiday</strong></h3>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    originally
                    bred for hunting.
                  </p>
                  <p style=" color: coral;"><strong>read more</strong> </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <img mat-card-image src="../assets/7.png" height="250px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h3><strong>The Many benifts of taking a heling holiday</strong></h3>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    originally
                    bred for hunting.
                  </p>
                  <p style=" color: coral;"><strong>read more</strong> </p>
                </mat-card-content>
              </mat-card>

            </div>
            <div class="col">
              <mat-card>
                <img mat-card-image src="../assets/9.png" height="250px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h3><strong>The Many benifts of taking a heling holiday</strong></h3>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    originally
                    bred for hunting.
                  </p>
                  <p style=" color: coral;"><strong>read more</strong> </p>
                </mat-card-content>
              </mat-card>
            </div>

          </div>

          <div style="padding-top: 10%;">
            <footer class="footer">


              <div class="container text-center text-md-left">


                <div class="row">


                  <div class="col-md-3 mx-auto">


                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><strong>LOGO</strong></h5>
                    <p>The Shiba Inu is the smallest of the six original and distinct spitz originally bred for hunting.
                    </p>

                  </div>


                  <hr class="clearfix w-100 d-md-none">


                  <div class="col-md-3 mx-auto">


                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><strong>Destinations</strong></h5>

                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="link1">Africa</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Antarctica</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Asia</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Europe</a>
                      </li>
                    </ul>

                  </div>


                  <hr class="clearfix w-100 d-md-none">


                  <div class="col-md-3 mx-auto">


                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><strong>Shop</strong></h5>

                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="link1">Destination</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">]Pictorial & gift</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Special Offers</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Delivery Times</a>
                      </li>
                    </ul>

                  </div>


                  <hr class="clearfix w-100 d-md-none">


                  <div class="col-md-3 mx-auto">


                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><strong>Intrests</strong></h5>

                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="link1">Advanced Travel</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Art And Culture</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Wildlife And Nature</a>
                      </li>
                      <li>
                        <a href="#!" class="link1">Family Holidays</a>
                      </li>
                    </ul>

                  </div>


                </div>


              </div>

              <hr>

              <div class="center">

                <!-- Facebook -->
                <a style="margin-left: 20px">

                  <i class="fa fa-facebook"></i>
                </a>
                <!-- Twitter -->
                <a style="margin-left: 20px">

                  <i class="fa fa-twitter"></i>
                </a>
                <!-- Google +-->
                <a style="margin-left: 20px">
                  <i class="fa fa-instagram"></i>
                </a>
                <!--Linkedin -->
                <a style="margin-left: 20px">
                  <i class="fa fa-linkedin"></i>
                </a>
                <!--Instagram-->
                <a style="margin-left: 20px">
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>



              <br>

            </footer>
           
          </div>

        </div>
      </div>
    </div>